<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../01.css">
    <title>第四周作業</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!--main-->
    <main>
        <div class="container-sm-full" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo dignissimos iste sequi possimus, unde magnam commodi labore consequuntur! Atque, dolore quo distinctio vel soluta illo optio, maiores culpa enim odit recusandae consequuntur ad. Temporibus vitae repellendus deleniti quam quod sequi, alias porro vel corrupti necessitatibus. Nisi inventore architecto molestias eius?</div>
    </main>

   
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
