<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
 
    <div class="container">
      <h1 class="content-title">門市據點</h1>
      
      <div class="store-search">
          <label class="store-select">選擇地區</label>
          <select class="store-select-area">
              <option>台北市</option>
              <option>新北市</option>
              <option>台中市</option>
              <option>高雄市</option>
          </select>
      </div>

      <ul class="store-list" >
          <li class="card">
              <div>
                  <img src="../assets/images/store-1.png" alt="店1">
                  <div class="card-body">
                      <h2 class="card-title">台北中山旗艦店</h2>
                      <ul class="card-list">
                          <li><span class="material-symbols-outlined mr-10">
                              call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              schedule</span><a href="#">營業時間：10:00-21:00</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              location_on</span><a href="#">地址：台北市中山區南京東路25巷2-1號</a></li>
                      </ul>
                  </div>
                  <a href="#" class="card-btn">詳細資訊</a>
              </div>
          </li>

          <li class="card">
              <div>
                  <img src="../assets/images/store-2.png" alt="店2">
                  <div class="card-body">
                      <h2 class="card-title">台北綠園店</h2>
                      <ul class="card-list">
                          <li><span class="material-symbols-outlined mr-10">
                              call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              schedule</span><a href="#">營業時間：10:00-21:00</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              location_on</span><a href="#">地址：台北市中正區復興南路 132-1 號</a></li>
                      </ul>
                  </div>
                  <a href="#" class="card-btn">詳細資訊</a>
              </div>
          </li>

          <li class="card">
              <div>
                  <img src="../assets/images/store-3.png" alt="店3">
                  <div class="card-body">
                      <h2 class="card-title">台中清水旗艦店</h2>
                      <ul class="card-list">
                          <li><span class="material-symbols-outlined mr-10">
                              call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              schedule</span><a href="#">營業時間：10:00-21:00</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              location_on</span><a href="#">地址：台中市清水區經南一路 23 號 8 樓</a></li>
                      </ul>
                  </div>
                  <a href="#" class="card-btn">詳細資訊</a>
              </div>
          </li>

          <li class="card">
              <div>
                  <img src="../assets/images/store-4.png" alt="店4">
                  <div class="card-body">
                      <h2 class="card-title">高雄中正形象店</h2>
                      <ul class="card-list">
                          <li><span class="material-symbols-outlined mr-10">
                              call</span><a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              schedule</span><a href="#">營業時間：10:00-21:00</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              location_on</span><a href="#">地址：高雄市苓雅區中正路 38 號 12 樓</a></li>
                      </ul>
                  </div>
                  <a href="#" class="card-btn">詳細資訊</a>
              </div>
          </li>

          <li class="card">
              <div>
                  <img src="../assets/images/store-5.png" alt="店5">
                  <div class="card-body">
                      <h2 class="card-title">高雄夢時代店</h2>
                      <ul class="card-list">
                          <li><span class="material-symbols-outlined mr-10">
                              call</span><a href="tel:+886 000-1234" >電話：(02)000-1234</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              schedule</span><a href="#" >營業時間：10:00-21:00</a></li>
                          <li><span class="material-symbols-outlined mr-10">
                              location_on</span><a href="#" >地址：高雄市前鎮區中華一路 63 號 6 樓</a></li>
                      </ul>
                  </div>
                  <a href="#" class="card-btn">詳細資訊</a>
              </div>
          </li>
      </ul>

   </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
